In [22]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [23]:
df = pd.read_csv("/content/drive/MyDrive/Oasis Infobyte /emails.csv")
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [24]:
df.shape

(5728, 2)

In [25]:
df.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [26]:
df.columns

Index(['text', 'spam'], dtype='object')

##**To check for duplicates and remove them**

In [27]:
df.drop_duplicates(inplace=True)
print(df.shape)

(5695, 2)

##**To see the number of missing data for each column**

In [28]:
print(df.isnull().sum())

text    0
spam    0
dtype: int64

##**Download the stop words**

In [29]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [30]:
def process(text):
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)

    clean = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean
# to show the tokenization
df['text'].head().apply(process)

0    [Subject, naturally, irresistible, corporate, ...
1    [Subject, stock, trading, gunslinger, fanny, m...
2    [Subject, unbelievable, new, homes, made, easy...
3    [Subject, 4, color, printing, special, request...
4    [Subject, money, get, software, cds, software,...
Name: text, dtype: object

##**convert the text into a matrix of token counts**

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
message = CountVectorizer(analyzer=process).fit_transform(df['text'])

##**Split the data into 80% training and 20% testing**

In [32]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(message, df['spam'], test_size=0.20, random_state=0)
# To see the shape of the data
print(message.shape)

(5695, 37229)

##**Create and train the Naive Bayes Classifier**

In [33]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(xtrain, ytrain)

In [34]:
classifier.predict(xtrain)

array([0, 0, 0, ..., 0, 0, 0])

In [35]:
ytrain.values

array([0, 0, 0, ..., 0, 0, 0])

##**Evaluating the model on the training data set**

In [36]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(xtrain)
print(classification_report(ytrain, pred))
print()
print("Confusion Matrix: \n", confusion_matrix(ytrain, pred))
print("Accuracy: \n", accuracy_score(ytrain, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3457
           1       0.99      1.00      0.99      1099

    accuracy                           1.00      4556
   macro avg       0.99      1.00      1.00      4556
weighted avg       1.00      1.00      1.00      4556


Confusion Matrix:
 [[3445   12]
 [   1 1098]]
Accuracy:
 0.9971466198419666

In [37]:
classifier.predict(xtest)

array([1, 0, 0, ..., 0, 0, 0])

In [38]:
ytest.values

array([1, 0, 0, ..., 0, 0, 0])

In [39]:
# Evaluating the model on the training data set
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pred = classifier.predict(xtest)
print(classification_report(ytest, pred))
print()
print("Confusion Matrix: \n", confusion_matrix(ytest, pred))
print("Accuracy: \n", accuracy_score(ytest, pred))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99       870
           1       0.97      1.00      0.98       269

    accuracy                           0.99      1139
   macro avg       0.98      0.99      0.99      1139
weighted avg       0.99      0.99      0.99      1139


Confusion Matrix:
 [[862   8]
 [  1 268]]
Accuracy:
 0.9920983318700615

The classifier accurately identified the email messages as spam or not spam with 99.2 % accuracy on the test data.